.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flex-item {
    height:60px;
    margin-top: 10px;
    margin-right: 10px;
}

.flex-item-card {
     width: 800px;
     height:200px;;
     margin-top: 10px;
     margin-right: 4px;
 }

 .spacer {
    flex: 1 1 auto;
  }

